# DSC 540 - Data Preparation

# Week9 and Week 10

# Project Milestone 4

# Cleaning/Formatting API Source

# Cleaning/Formatting API

Perform at least 5 data transformation and/or cleansing steps to your API data. The 5 data transformations that I will do are as follows:

Data transformation replaces the original column headers with a new set of headers. It assigns a list of new column names.

This transformation converts the 'Time' column from the original Unix timestamp format to a human-readable date and time format using the pandas to_datetime() method.

This transformation rounds the values in the 'Amount' column to two decimal places

check the duplicates that contains all rows from the original DataFrame that have duplicate values in all columns except the last one.

Data transformation drops all the duplicate rows in the dataset, keeping only the first occurrence of each unique row

Data transformation in this code involves creating a box plot of the 'Amount' column in the pandas DataFrame using the seaborn library. A box plot is a graphical representation of the distribution of the data that shows the median, quartiles, and outliers of the data. This visualization can help to identify any potential outliers or unusual values in the 'Amount' column.

Check for missing values in any of the columns that will be kept in the final data set.

Data transformation , all values in the "Class" column of the dataframe were converted to lowercase. This was done to ensure consistency in the casing of values in the column. The unique values in the "Class" column were then printed to confirm that the transformation was successful.

Data trnsformation, calculates the lower and upper bounds for outliers in the 'Amount' column using the interquartile range (IQR) and identifies the rows with transaction amounts outside the bounds.

Ethical Implications: The credit card fraud detection dataset available on datahub.io raises several ethical implications. Firstly, it involves the use of sensitive financial data of individuals without their explicit consent. The dataset includes transactions made by credit cards in September 2013 by European cardholders. Although the dataset is anonymized, it is still possible for fraudsters to reverse engineer the data to extract the personal information of individuals. While such algorithms are essential to protect consumers from fraudulent activities, there is a potential risk of false positives leading to wrongful accusations of fraud. Lastly, the availability of such datasets can also be exploited by malicious actors for nefarious purposes. Hackers can use these datasets to train their own fraud detection algorithms, thus undermining the security measures of credit card companies and individuals.Therefore, it is important to handle such datasets with care, implement appropriate security measures to safeguard the data, and ensure that the use of such algorithms does not result in discriminatory practices.

In [39]:
## Import the required libraries

import pandas as pd
import json
import requests
from concurrent import futures

In [40]:
# Importing the FraudValidation class from the fraudlabspro.fraudvalidation module
#API : https://www.fraudlabspro.com/developer/api/screen-order?ref=apilist.fun

from fraudlabspro.fraudvalidation import FraudValidation

The FraudValidation class allows you to access the fraud validation functionalities provided by the FraudLabs Pro API. By importing the FraudValidation class, you can access its methods and attributes to integrate the fraud validation capabilities into your code and leverage the features provided by the FraudLabs Pro API.

In [41]:
# Configure your API key
api_key = 'W7HNWZ1PGIEX6DPG1LIP8ATLEU2DB3BL'

# Set up the fraud validation object
fraud_validation = FraudValidation(api_key)

In [42]:
# Set up an empty list to store the results
results_list = []

Generates random order details such as order ID, amount, and IP address. The process_order function takes an order ID, increments it, and generates random values for amount and IP address. It then calls the fraud validation method of the API (https://www.fraudlabspro.com/developer/api/screen-order?ref=apilist.fun) using the fraud_validation.validate function and stores the result in the result variable.

In [ ]:
# Set up the initial order ID
order_id = 5000

# Define a function to process a single order
def process_order(order_id):
    # Increment the order ID
    order_id += 1

    # Set up the order details for each iteration
    order_id_str = str(order_id).zfill(5)  # Ensure 5-digit order ID
    
    # Generate random values for amount
    amount = round(random.uniform(0, 100), 2)  # Generate a random float between 0 and 100
    
    # Generate random values for IP Address   
    ip_address = f"{random.randint(0, 255)}.{random.randint(0, 255)}.{random.randint(0, 255)}.{random.randint(0, 255)}"

    order_details = {
        'order_id': order_id_str,
        'ip': ip_address,
        'amount': amount,
    }

    # Call the validation method and parse the result as a dictionary
    result = json.loads(fraud_validation.validate(order_details))

    return result

# Define the number of orders to process
num_orders = 30000

# Define the number of threads to use
num_threads = 30000

# Perform fraud validation for orders in parallel
with futures.ThreadPoolExecutor(max_workers=num_threads) as executor:
    future_to_order = {executor.submit(process_order, order_id): order_id for order_id in range(num_orders)}
    
    for future in futures.as_completed(future_to_order):
        order_id = future_to_order[future]
        result = future.result()
        results_list.append(result)
        
# Create a DataFrame from the results list
df = pd.DataFrame(results_list)

# Save the DataFrame to a CSV file
df.to_csv('fraud_results1.csv', index=False)

fraud_data = pd.read_csv('fraud_results1.csv', sep=",")
fraud_data

In [31]:
# Replace Headers
new_headers = ['country_match', 'high_risk_country', 'distance_in_km', 'distance_in_mile',
               'ip_country', 'ip_continent', 'ip_region', 'ip_city', 'ip_latitude', 'ip_longitude',
               'ip_timezone', 'ip_elevation', 'ip_domain', 'ip_mobile_mnc', 'ip_mobile_mcc',
               'ip_mobile_brand', 'ip_netspeed', 'ip_isp_name', 'ip_usage_type', 'free_email',
               'new_domain_name', 'domain_exists', 'proxy_ip_address', 'bin_found',
               'bin_country_match', 'bin_name_match', 'bin_phone_match',
               'bin_phone_country_match', 'bin_prepaid', 'address_ship_forward',
               'bill_ship_city_match', 'bill_ship_state_match', 'bill_ship_country_match',
               'is_bill_ship_postal_match', 'is_ship_address_blacklist', 'is_phone_blacklist',
               'ip_blacklist', 'email_blacklist', 'credit_card_blacklist',
               'device_blacklist', 'user_blacklist', 'high_risk_username',
               'export_controlled_country', 'malware_exploit', 'user_order_id', 'user_order_memo',
               'card_subtype', 'fraudlabspro_score', 'fraudlabspro_distribution', 'fraudlabspro_status',
               'fraudlabspro_id', 'fraudlabspro_version', 'fraudlabspro_error_code', 'fraudlabspro_message',
               'fraudlabspro_credits', 'device_id']

fraud_data.columns = new_headers
fraud_data.head()

,country_match,high_risk_country,distance_in_km,distance_in_mile,ip_country,ip_continent,ip_region,ip_city,ip_latitude,ip_longitude,...,card_subtype,fraudlabspro_score,fraudlabspro_distribution,fraudlabspro_status,fraudlabspro_id,fraudlabspro_version,fraudlabspro_error_code,fraudlabspro_message,fraudlabspro_credits,device_id
0,Unknown,N,0.0,0.0,CN,AS,Anhui,Hefei,31.8638,117.2808,...,NaN,100.0,0,APPROVE,20230520-LIHZRZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
1,Unknown,N,0.0,0.0,CH,EU,Zurich,Kloten,47.4515,8.5853,...,NaN,100.0,0,APPROVE,20230520-7JBVNZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
3,Unknown,N,0.0,0.0,US,NA,Georgia,Atlanta,33.7488,-84.3875,...,NaN,100.0,0,APPROVE,20230520-TMHOAL,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
4,Unknown,N,0.0,0.0,US,NA,New Jersey,Newark,40.7323,-74.1736,...,NaN,100.0,0,APPROVE,20230520-TBL281,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
6,Unknown,N,0.0,0.0,US,NA,Ohio,Columbus,39.9614,-82.9977,...,NaN,100.0,0,APPROVE,20230520-UDYU5F,1.5.1,208,INVALID QUANTITY VALUE,500,NaN

In [32]:
# Format data into a more readable format
fraud_data['distance_in_km'] = fraud_data['distance_in_km'].replace('-', 0).astype(float)
fraud_data['distance_in_mile'] = fraud_data['distance_in_mile'].replace('-', 0).astype(float)
fraud_data['ip_latitude'] = fraud_data['ip_latitude'].round(6)
fraud_data['ip_longitude'] = fraud_data['ip_longitude'].round(6)
fraud_data['fraudlabspro_score'] = fraud_data['fraudlabspro_score'].astype(float)

fraud_data.head()

,country_match,high_risk_country,distance_in_km,distance_in_mile,ip_country,ip_continent,ip_region,ip_city,ip_latitude,ip_longitude,...,card_subtype,fraudlabspro_score,fraudlabspro_distribution,fraudlabspro_status,fraudlabspro_id,fraudlabspro_version,fraudlabspro_error_code,fraudlabspro_message,fraudlabspro_credits,device_id
0,Unknown,N,0.0,0.0,CN,AS,Anhui,Hefei,31.8638,117.2808,...,NaN,100.0,0,APPROVE,20230520-LIHZRZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
1,Unknown,N,0.0,0.0,CH,EU,Zurich,Kloten,47.4515,8.5853,...,NaN,100.0,0,APPROVE,20230520-7JBVNZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
3,Unknown,N,0.0,0.0,US,NA,Georgia,Atlanta,33.7488,-84.3875,...,NaN,100.0,0,APPROVE,20230520-TMHOAL,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
4,Unknown,N,0.0,0.0,US,NA,New Jersey,Newark,40.7323,-74.1736,...,NaN,100.0,0,APPROVE,20230520-TBL281,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
6,Unknown,N,0.0,0.0,US,NA,Ohio,Columbus,39.9614,-82.9977,...,NaN,100.0,0,APPROVE,20230520-UDYU5F,1.5.1,208,INVALID QUANTITY VALUE,500,NaN

In [33]:
# Find duplicates
duplicates = fraud_data.duplicated()
fraud_data = fraud_data[~duplicates]

fraud_data.head()

# Remove duplicate rows
fraud_data.drop_duplicates(inplace=True)
fraud_data.head()

,country_match,high_risk_country,distance_in_km,distance_in_mile,ip_country,ip_continent,ip_region,ip_city,ip_latitude,ip_longitude,...,card_subtype,fraudlabspro_score,fraudlabspro_distribution,fraudlabspro_status,fraudlabspro_id,fraudlabspro_version,fraudlabspro_error_code,fraudlabspro_message,fraudlabspro_credits,device_id
0,Unknown,N,0.0,0.0,CN,AS,Anhui,Hefei,31.8638,117.2808,...,NaN,100.0,0,APPROVE,20230520-LIHZRZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
1,Unknown,N,0.0,0.0,CH,EU,Zurich,Kloten,47.4515,8.5853,...,NaN,100.0,0,APPROVE,20230520-7JBVNZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
3,Unknown,N,0.0,0.0,US,NA,Georgia,Atlanta,33.7488,-84.3875,...,NaN,100.0,0,APPROVE,20230520-TMHOAL,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
4,Unknown,N,0.0,0.0,US,NA,New Jersey,Newark,40.7323,-74.1736,...,NaN,100.0,0,APPROVE,20230520-TBL281,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
6,Unknown,N,0.0,0.0,US,NA,Ohio,Columbus,39.9614,-82.9977,...,NaN,100.0,0,APPROVE,20230520-UDYU5F,1.5.1,208,INVALID QUANTITY VALUE,500,NaN

In [35]:
# Replace missing values in specific columns
fraud_data['country_match'].fillna('Unknown', inplace=True)
fraud_data['ip_country'].fillna('Unknown', inplace=True)
fraud_data.head()

,country_match,high_risk_country,distance_in_km,distance_in_mile,ip_country,ip_continent,ip_region,ip_city,ip_latitude,ip_longitude,...,card_subtype,fraudlabspro_score,fraudlabspro_distribution,fraudlabspro_status,fraudlabspro_id,fraudlabspro_version,fraudlabspro_error_code,fraudlabspro_message,fraudlabspro_credits,device_id
0,Unknown,N,0.0,0.0,CN,AS,Anhui,Hefei,31.8638,117.2808,...,NaN,100.0,0,APPROVE,20230520-LIHZRZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
1,Unknown,N,0.0,0.0,CH,EU,Zurich,Kloten,47.4515,8.5853,...,NaN,100.0,0,APPROVE,20230520-7JBVNZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
3,Unknown,N,0.0,0.0,US,NA,Georgia,Atlanta,33.7488,-84.3875,...,NaN,100.0,0,APPROVE,20230520-TMHOAL,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
4,Unknown,N,0.0,0.0,US,NA,New Jersey,Newark,40.7323,-74.1736,...,NaN,100.0,0,APPROVE,20230520-TBL281,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
6,Unknown,N,0.0,0.0,US,NA,Ohio,Columbus,39.9614,-82.9977,...,NaN,100.0,0,APPROVE,20230520-UDYU5F,1.5.1,208,INVALID QUANTITY VALUE,500,NaN

In [36]:
# Drop rows with missing or empty values in ip_country, ip_region, and ip_city columns
fraud_data.dropna(subset=['ip_country', 'ip_region', 'ip_city'], inplace=True)
fraud_data.head()

# Drop rows with '-' values in ip_country, ip_region, and ip_city columns
fraud_data = fraud_data[(fraud_data['ip_country'] != '-') & (fraud_data['ip_region'] != '-') & (fraud_data['ip_city'] != '-')]
fraud_data.head()

,country_match,high_risk_country,distance_in_km,distance_in_mile,ip_country,ip_continent,ip_region,ip_city,ip_latitude,ip_longitude,...,card_subtype,fraudlabspro_score,fraudlabspro_distribution,fraudlabspro_status,fraudlabspro_id,fraudlabspro_version,fraudlabspro_error_code,fraudlabspro_message,fraudlabspro_credits,device_id
0,Unknown,N,0.0,0.0,CN,AS,Anhui,Hefei,31.8638,117.2808,...,NaN,100.0,0,APPROVE,20230520-LIHZRZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
1,Unknown,N,0.0,0.0,CH,EU,Zurich,Kloten,47.4515,8.5853,...,NaN,100.0,0,APPROVE,20230520-7JBVNZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
3,Unknown,N,0.0,0.0,US,NA,Georgia,Atlanta,33.7488,-84.3875,...,NaN,100.0,0,APPROVE,20230520-TMHOAL,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
4,Unknown,N,0.0,0.0,US,NA,New Jersey,Newark,40.7323,-74.1736,...,NaN,100.0,0,APPROVE,20230520-TBL281,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
6,Unknown,N,0.0,0.0,US,NA,Ohio,Columbus,39.9614,-82.9977,...,NaN,100.0,0,APPROVE,20230520-UDYU5F,1.5.1,208,INVALID QUANTITY VALUE,500,NaN

In [37]:
# Fix casing or inconsistent values
fraud_data['ip_country'] = fraud_data['ip_country'].str.upper()
fraud_data.head()

,country_match,high_risk_country,distance_in_km,distance_in_mile,ip_country,ip_continent,ip_region,ip_city,ip_latitude,ip_longitude,...,card_subtype,fraudlabspro_score,fraudlabspro_distribution,fraudlabspro_status,fraudlabspro_id,fraudlabspro_version,fraudlabspro_error_code,fraudlabspro_message,fraudlabspro_credits,device_id
0,Unknown,N,0.0,0.0,CN,AS,Anhui,Hefei,31.8638,117.2808,...,NaN,100.0,0,APPROVE,20230520-LIHZRZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
1,Unknown,N,0.0,0.0,CH,EU,Zurich,Kloten,47.4515,8.5853,...,NaN,100.0,0,APPROVE,20230520-7JBVNZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
3,Unknown,N,0.0,0.0,US,NA,Georgia,Atlanta,33.7488,-84.3875,...,NaN,100.0,0,APPROVE,20230520-TMHOAL,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
4,Unknown,N,0.0,0.0,US,NA,New Jersey,Newark,40.7323,-74.1736,...,NaN,100.0,0,APPROVE,20230520-TBL281,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
6,Unknown,N,0.0,0.0,US,NA,Ohio,Columbus,39.9614,-82.9977,...,NaN,100.0,0,APPROVE,20230520-UDYU5F,1.5.1,208,INVALID QUANTITY VALUE,500,NaN

In [38]:
# Conduct Fuzzy Matching (Example: fixing inconsistent values in 'ip_continent')
fuzzy_mapping = {'North America': 'NA', 'South America': 'SA', 'Europe': 'EU', 'Asia': 'AS', 'Africa': 'AF', 'Oceania': 'OC'}
fraud_data['ip_continent'] = fraud_data['ip_continent'].replace(fuzzy_mapping)
fraud_data.head()

,country_match,high_risk_country,distance_in_km,distance_in_mile,ip_country,ip_continent,ip_region,ip_city,ip_latitude,ip_longitude,...,card_subtype,fraudlabspro_score,fraudlabspro_distribution,fraudlabspro_status,fraudlabspro_id,fraudlabspro_version,fraudlabspro_error_code,fraudlabspro_message,fraudlabspro_credits,device_id
0,Unknown,N,0.0,0.0,CN,AS,Anhui,Hefei,31.8638,117.2808,...,NaN,100.0,0,APPROVE,20230520-LIHZRZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
1,Unknown,N,0.0,0.0,CH,EU,Zurich,Kloten,47.4515,8.5853,...,NaN,100.0,0,APPROVE,20230520-7JBVNZ,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
3,Unknown,N,0.0,0.0,US,NA,Georgia,Atlanta,33.7488,-84.3875,...,NaN,100.0,0,APPROVE,20230520-TMHOAL,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
4,Unknown,N,0.0,0.0,US,NA,New Jersey,Newark,40.7323,-74.1736,...,NaN,100.0,0,APPROVE,20230520-TBL281,1.5.1,208,INVALID QUANTITY VALUE,500,NaN
6,Unknown,N,0.0,0.0,US,NA,Ohio,Columbus,39.9614,-82.9977,...,NaN,100.0,0,APPROVE,20230520-UDYU5F,1.5.1,208,INVALID QUANTITY VALUE,500,NaN

In [ ]:
# Reset the index after dropping rows
fraud_data.reset_index(drop=True, inplace=True)